modules = ["nodejs-20", "web", "bash", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
MYSQL_URL = "mysql://Y2ErVcqWMZncviT.root:QWyUFLIGJ9iYqfuS@gateway01.eu-central-1.prod.aws.tidbcloud.com:4000/test?ssl={\"rejectUnauthorized\":true}"
DB_DIALECT = "postgres"
SUPABASE_URL = "https://rkarkdlitfexwpjlalgb.supabase.co/"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJrYXJrZGxpdGZleHdwamxhbGdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA1NzI1MjUsImV4cCI6MjA4NjE0ODUyNX0.6xKg14IW9AOjHnN9Y_x_yDljYieUZ3FXAhPKddAW6k0"
